#Note - no quotes around paths and keys are needed, use values as-is
[DEFAULT]
PATH = source/_posts/tweets/
IMGPATH = source/tweet/
IMGURL = /tweet/
SCREEN_NAME= user 
[TWITTER]
MAX_COUNT = 0
INCLUDE_RTS = True
CONSUMER_KEY =
CONSUMER_SECRET =
ACCESS_TOKEN_KEY =
ACCESS_TOKEN_SECRET =